{% extends "header.html" %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-select="true">Basic</a>
    <a class="nav-item nav-link" id="wdev-tab" data-toggle="tab" href="#wdev" role="tab" aria-controls="wdev" aria-select="false">Web Dev</a>
    <a class="nav-item nav-link" id="dan-tab" data-toggle="tab" href="#dan" role="tab" aria-controls="dan" aria-select="false">Data Analysis</a>
    <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>

  <!-- Tab panes -->
  <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane fade show active" id="basic" aria-labelledby="basic-tab">
      <ul>
        {% for t in topic_dict["Basic"] %}
          <li> Book <span style="color:blue">{{ t[0] }}</span> written by <span style="color:blue">{{ t[1] }}</span> published on <span style="color:blue">{{ t[2] }}</span> </li>
        {% endfor %}
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="wdev" aria-labelledby="wdev-tab">Web Development

    </div>

    <div role="tabpanel" class="tab-pane fade" id="dan" aria-labelledby="dan-tab">Data analysis!#Q$@!#

    </div>
  </div>

</div>

{% endblock %}
 