{% extends "header.html" %}
{% block body %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type=text/javascript>
		$(function() {
		  $('a#process_input').bind('click', function() {
			$.getJSON('/_forecast_stock', {
			  symbol: $('input[name="symbol"]').val(),
			}, function(data) {
			    var fig = data;
			    Plotly.newPlot('plotly-graph',fig.data,fig.layout,{displaylogo: false});				
			});
			return false;
		  });
		});
	</script>

	<h3>Welcome to Data Science World !</h3>
	<form>
		<input type=text size=15 name=symbol placeholder="ticker">
		<a href=# id=process_input><button class='btn btn-secondary'>Submit</button></a>
	</form>
	<div class="container" align="left" id="plotly-graph" style='min-width:100%'/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}