{% extends "header.html" %}
{% block body %}
<body class="body">
	<div class="container" align="left" id="pygal-graph" style='min-width:90%'/>
		<embed type="image/svg+xml" src={{graph_data|safe}}>
	</div>

	<!-- The <div id="plotly-graph"/> never worked, the element id cannot be found somehow -->
	<div class="container" align="left" id="plotly-graph" style='min-width:90%'/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Use alert(document.getElementById('plotly-graph')); in script to pop up a window for testing -->
	<script>
	    var fig = {{ fig_data | safe }};
	    Plotly.newPlot('plotly-graph',fig.data,fig.layout,{displaylogo: false});
	</script>
</body>

{% endblock %}