<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<title>PD Python Programming Lab</title>
</head>

<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">
	    <img src="{{ url_for('static', filename='images/mainlogo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Start
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/dashboard/">Dashboard</a>
	          <a class="dropdown-item" href="/addbook/form/">Add Book</a>
	          <a class="dropdown-item" href="/geturl/">Get URL</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="/managedb">Manage Database</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
        </div>	  	
	    <form class="mx-2 my-auto d-inline w-100" method=post action="/search">
          <input class="submit_on_enter form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
	    <div class="navbar-nav my-2 my-lg-0">
			<a href="/support/"> <span class="glyphicon glyphicon-heart mr-sm-2"></span>Support</a>
			<!-- Login button trigger modal -->
			<a data-toggle="modal" data-target="#loginModal" href="#"><span class="glyphicon glyphicon-log-in mr-sm-2"></span>Login</a>
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="loginModalLabel">Login</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
				  <form action="/login" class="form-block" method="post">
			      	<div class="modal-body">
			      		<dl>
							<dd><input type="text" class="form-control" placeholder="Username" name="username" value=""></dd>
							<dd><input type="password" class="form-control" placeholder="Password" name="password" value=""></dd>
						</dl>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="submit" onClick="form_submit()" class="btn btn-primary">Submit</button>
			        	<p>No account? <a data-toggle="modal" data-target="#signupModal" href="#">Register here</a>.</p>
			      	</div>
				  </form>
			    </div>
			  </div>
			</div>
			<!-- svg icon -->
			<svg class="bi bi-person" width="1em" height="1em" viewBox="0 0 16 16" fill="yellow" xmlns="http://www.w3.org/2000/svg">
			  <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
			</svg>			
			<!-- Sign up button trigger modal -->
			<a data-toggle="modal" data-target="#signupModal" href="#"><span class="glyphicon glyphicon-log-in mr-sm-2"></span>Signup</a>
			<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="signupModalLabel">Signup</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
				  <form method=post action="/register" oninput='confirm.setCustomValidity(confirm.value != password.value ? "Passwords do not match." : "")'>
			      	<div class="modal-body">
					  <dl>
						  <dd><input class="form-control" id="username" name="username" type="text" placeholder="user name" minlength="3" maxlength="30" required></dd>
						  <dd><input class="form-control" id="email" name="email" type="text" placeholder="email address" minlength="5" maxlength="30" required></dd>
						  <dd><input class="form-control" id="password" name="password" type="password" placeholder="password" required></dd>
						  <dd><input class="form-control" id="confirm" name="confirm" type="password" placeholder="re-enter password" required></dd>
					  </dl>
		      		</div>
			      	<div class="modal-footer">
					  <div class="form-group">
					    <div class="form-check">			      		
							<input class="form-check-input" id="accept_tos" name="accept_tos" type="checkbox" value="y" required>
					      	<label class="form-check-label" for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a></label>
						</div>
					  </div>
				      <button type="submit" onClick="form_submit()" class="btn btn-outline-primary">Submit</button>
			      	</div>
				  </form>
			    </div>
			  </div>
			</div>
			<!-- svg icon -->
			<svg class="bi bi-pencil-square mr-rm-2" width="1em" height="1em" viewBox="0 0 16 16" fill="yellow" xmlns="http://www.w3.org/2000/svg">
  			<path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
  			<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
			</svg>
		</div>
	  </div>
	</nav>

</header>

<body>
	<div class="container-fluid" style="min-height=100%">
		<!-- display flash messages should any -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				  <div class="alert alert-warning alert-dismissible" role="alert">
				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{ message }}
				  </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block body %}
		{% endblock %}
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Propper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
	  