{% extends "header.html" %}

{% block body %}

<p>
	<h4> Manage Database </h4>
	<br>
	{% from "_formhelper.html" import render_field %}
	<form action="/managedb" method=post>
		{{ form.csrf_token }}
		{{ form.hidden_tag() }}
		<dl>
			{{ render_field(form.tablename, placeholder="Tablename") }}
			{{ render_field(form.operation, placeholder="Operation") }}
			{{ render_field(form.password) }}
			{{ render_field(form.confirm) }}
			{{ render_field(form.accept_tos) }}
		</dl>
		<input type="submit" value="Go"/>
	</form>

	{% if error %}
		<p class="error"><strong>Error:</strong>{{ error }}</p>
	{% endif %}

	<br>
	{% if result %}
		<h5> Result </h5>
		<p>{{ result }}</p>
	{% endif %}
</p>

{% endblock %}